
.signup-form{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    position: relative;
   left: 40%;
  }

button{
    background-color: blue;
    color:white;
    margin:8px;
    border:none;
    width:100;
}